<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <p class="lead">Simple markdown tweet-size image generator</p>
    <p>With thanks to:</p>
    <ul>
      <li><a href="https://github.com/btford/angular-markdown-directive" target="_blank">Markdown-directive</a></li>
      <li><a href="https://github.com/Reklino/angular-resizable" target="_blank">Resizable-directive</a></li>
      <li><a href="https://github.com/markdowncss/markdowncss.github.io">Markdown css themes</a></li>
      <li><a href="https://github.com/tsayen/dom-to-image">DOM to image</a></li>
      <li><a href="https://github.com/eligrey/FileSaver.js/">File saver</a></li>
    </ul>
  </div>
</div>
<br />
<div class="row">
  <div class="col-xs-12 text-center">
    <a class="btn btn-sm btn-default" href="#"><span class="glyphicon glyphicon-remove"></span>&nbsp;Back</a>
  </div>
</div>

